@media screen and (max-width: 992px) {
  .scrolled {
    top: 0px;
    height: 100%;
  }
  .list {
    flex-direction: column;
  }
}

@media screen and (max-width: 992px) {
  .horizontal {
    height: auto !important;
  }
}
