.hoverImages {
	position: relative;
	width: 500px;
	height: 300px;
	overflow: hidden;
	transform: translate(-50%, -50%);
	mix-blend-mode: normal;
}

.hoverImagesContainer {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	transform-origin: center;
	transition: transform 0.2s;
}

.hoverImage {
	width: 100%;
	height: 300px;
	object-fit: cover;
}
