// @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");

:root {
  --background: #0c0c0c;
  --main: #e0dbd2;
  --grey: #a3a3a3;
  --line-grey: #373737;
  --purple: #907ff8;
  --cyan: #a8ffff;
  --blue1: #7196ff;
  --blue2: #2a5ee8;

  --primary: #517df5;
  --primary1: var(--blue1);
  --primary2: var(--blue2);

  --button-color: #ffffff;
  --button-background: rgba(17, 17, 17, 0.6);

  --header-background: rgba(17, 17, 17, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
  line-height: 1.25em;
  font-family: 'Manrope', sans-serif !important;
  color: var(--main);
  -webkit-tap-highlight-color: transparent;
}

*::selection {
  background: transparent;
  color: var(--primary);
}

*::-moz-selection {
  background: transparent;
  color: var(--primary);
}

img::selection {
  background: #fff;
}

img::-moz-selection {
  background: #fff;
}

body,
html {
  background: var(--background);
  font-family: 'Manrope', sans-serif;
  scroll-behavior: smooth;
}

a,
label,
input,
textarea,
button,
body {
  cursor: none;
}

h1,
h2,
h3,
p,
p > div {
  font-weight: 400;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 34px;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 1.5em;
}

button {
  background: none;
  border: none;
  box-shadow: none;
}

input,
textarea {
  border: none;
  box-shadow: none;
  outline: none;
  background: none;
  max-width: 100%;
  width: 100%;
}

textarea {
  min-height: 40px;
  max-height: 110px;
  min-width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.c-scrollbar_thumb {
  background: #fff;
  z-index: 999;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  main {
    flex: auto;
  }
  .notfound-main {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// .grain {
//   position: absolute;
//   width: 100%;
//   height: 100%;
// }

// .preloader {
//   position: fixed;
//   z-index: 999;
//   width: 100vw;
//   height: 100vh;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   left: 0;
//   top: 0;
//   background: $bg;
//   transform-origin: top;
//   p {
//     font-size: 40px;
//     color: #fff;
//     z-index: 2;
//   }
//   &-circle {
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%, -50%);
//     width: 360px;
//     height: 360px;
//     border-radius: 50%;
//     background: conic-gradient(from 226.07deg at 50% 50%, $accent 0deg, rgba($accent, 0) 360deg);
//     z-index: 1;
//     animation: spin 6s ease-in-out infinite;
//     &:after {
//       content: '';
//       position: absolute;
//       left: 50%;
//       top: 50%;
//       transform: translate(-50%, -50%);
//       width: 110%;
//       height: 110%;
//       border-radius: 50%;
//       background: radial-gradient(40% 40% at 50% 50%, rgba($bg, 0) 0%, $bg 100%)
//     }
//   }
// }

// @keyframes spin {
//   0% {
//     transform: translate(-50%, -50%) rotate(0deg);
//   }
//   100% {
//     transform: translate(-50%, -50%) rotate(360deg);
//   }
// }

@media screen and (max-width: 992px) {
  body,
  html {
    overflow-x: hidden;
  }
  a,
  label,
  input,
  textarea,
  button,
  body {
    cursor: initial;
  }
  a,
  button {
    cursor: pointer;
  }
}

