.work {
  display: block;
  width: 100%;
  padding: 30px 0;
  border-top: 1px solid var(--line-grey);
  transition: background 0.2s;

  &:last-child {
    border-bottom: 1px solid var(--line-grey);
  }

  &:hover {
    background: rgba(#fff, 0.05);
  }
}

.image {
  margin-top: 20px;
  display: none;
}

.title {
  font-size: 30px;
}

@media screen and (max-width: 992px) {
  .image {
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .content {
    padding-left: 5%;
  }
  .title {
    font-size: 24px;
  }
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 22px;
  }
}
